

.itensContent{
    display: flex;
    flex-direction: row;
    gap: 30px;


}

.ImageItem{
    width: 150px;
    height: 200px;
}

.countItens{
display: flex;
flex-direction: column;

}
.countItens .countItensContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
}

.inputNumber{
    width: 30px;
}
.addButton:disabled{
    font-size: 20px;
    
}
.addButton:enabled{
    font-size: 20px;
}
.itemContainerList{
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 50px 50px; 
    padding: 80px;
  
 
}
.itemContainer{

 padding: 20px;
text-align: center;
   
}
.cardItem{
    width: 18em;
}
.cardItemList{
    list-style: none;
}
.card-img-top{
    width: 80px;
    height: 250px;
}
.spinnerListItens{
    margin-left: 50%;
}