@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.itensContent{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ImageItem{
    width: 150px;
    height: 200px;
}

.countItens{
display: flex;
flex-direction: column;
}

.countItens .countItensContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
}

.inputNumber{
    width: 30px;
}

.addButton{
    color:white;
    background-color:#0a58ca;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

.addButton:hover{
    background-color: #0d6efd;
}

.itemContainerList{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px; 
    padding: 80px;
    font-family: 'Roboto', sans-serif;
}

.itemContainer{
    padding: 20px;
    text-align: center;
}

.cardItem{
    width: 18em;
}

.cardItemList{
    list-style: none;
}

.card-img-top{
    width: 180px;
    height: 250px;
}

.spinnerListItens{
    margin-left: 50%;
}
